[user]
{{- if has .chezmoi.hostname .university_servers }}
	name = mrueve
	email = marius.rueve@uni-hamburg.de
{{- else }}
	name = mariusrueve
	email = 44000950+mariusrueve@users.noreply.github.com
{{- end }}
[credential "https://github.com"]
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = !gh auth git-credential

[pull]
	rebase = true

[core]
	editor = nvim

[push]
	autoSetupRemote = true
